/* Resumen*/
.resumen-cuadro {
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.resumen-numero{
    font-size: 36px;
    font-weight: bold;
}

/* Horarios */

.fecha, .hoy {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    background-color: #6173b5 !important;
    color: aliceblue !important;
    vertical-align: middle;
}

.maniana {
    text-align: center;
    background-color: #f5f5f5 !important;
    color: rgb(0, 0, 0);
}

.tarde {
    text-align: center;
    background-color: #e7e7e7 !important;
    color: rgb(0, 0, 0);
}

.hoy{
    background-color: rgb(159, 210, 146) !important;
    color: black !important;
    
}

.feriado{
    background-color: rgb(255, 192, 110) !important;
    color: black;
    
}

.leyenda{
    font-size: 14px;
    display: block;
}

thead,
tbody {
    text-align: center;
}

table {
    border-color: rgb(255, 255, 255) !important;
}

thead>tr {
    background-color: white !important;
}

tbody>tr {
    background-color: #7483b4 !important;
    color:  white !important;
}

